.expense-container {
    margin-top: 20px;
  }
  
  .expense-table-container {
    margin-top: 20px;
  }
  
  .expense-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .expense-row:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .expense-icon {
    margin-right: 10px;
  }
  
  .expense-title-date {
    flex: 1;
  }
  
  .expense-price-edit-delete-container {
    display: flex;
    align-items: center;
  }
  
  .expense-price {
    margin-right: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .active {
    background-color: #0056b3;
  }